/* tag html */
section {
  padding-top: 5rem;
}

footer {
  padding: 5rem 0px 2rem 0px;
}


/* colors backgrounds */
.bg-zircon {
  background-color: #f1f3ff;
}

.bg-warning {
  background-color: #F9CC00;
}

.bg-secondary04 {
  background-color: #5cb85f;
}

.bg-primary01 {
  background-color: #CFD4ED;
}

.bg-primary03 {
  background-color: #92D094;
}

.bg-primary04 {
  background-color: #0d28a6;
}


/* images */
.img-landing-page {
  position: relative;
  top: 5px;
  right: 0px;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.image-people {
  display: flex;
  justify-content: end;
  z-index: -1;
}

/* checkbox */
.container-checkbox {
  display: flex;
}

.icon-checkbox {
  width: 30px;
  height: 30px;
  border-radius: 99px;
  align-items: center;
  justify-content: center;
}


/* cards */
.card-list {
  width: 200px;
  height: 230px;
  margin-bottom: 8px;
  padding: 14px;
}

.card-testimoni {
  width: 900px;
  height: 250px;
  padding-left: 20px;
  padding-right: 16px;
}

.card-detail-testimoni {
  padding: 16px;
}

.jumbotron {
  width: 100%;
  height: 40%;
  background-color: #92D094;
}

/* widget */
.widget-faq {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 18px 0px 18px;
  margin-top: 16px;
  border: #D4D4D4;
  border-style: solid;
  border-width: 1px;
}

.img-icon-arrow {
  width: 10px;
  height: 40px;
}

/* button */
.botton-next {
  display: flex;
  justify-content: center;
}

.img-button {
  /* background-color: #5cb85f; */
  border: 1px solid #C4C4C4;
  padding: 11px;
  border-radius: 100px;
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  justify-items: center;
  margin-left: 24px;
  margin-bottom: 10%;
}

.img-button:hover {
  background-color: #5cb85f;
}


/* swiper */
.swiper {
  width: 100%;
  height: 100%;
}